{% extends 'backend.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
    
                <h3>{{'¿Desea borrar el Club: %club% ?'|trans({'%club%': club.nombre})}}</h3>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="actions">
                        <input type="submit" value="{{'Sí'|trans}}" class="btn btn-primary" />
                        <a href="{{ path('backend_club_index') }}" class="btn btn-default" role="button">{{'No'|trans}}</a>
                    </div>
                {{ form_end(form, {'render_rest': false}) }}
                
            </div>
        </div>
    </div>            
{% endblock %}